/* 
Fredymar
*/
html{
	font-size: 65%;
	margin:0px;
	width:100%;
}
body{
	margin:0px;
	padding:0px;
	width:100%;
	font-size:1.2em;
	font-family:times;
	background:#aaa;
}
#container{
	margin:0px auto;
	width: 900px;
	background:#fff;
}

#nav{
	width:100%;
	height:40px;
	background:#6b0c36;
	background:#009dd4;
}


#nav ul {
	margin: 0px;
	height: 40px;
	line-height: 40px;
	list-style: none;
	font-weight: bold;
	/* Clear floats */
	position: relative;
	z-index: 5;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	
}
#nav ul  li{
	float: left;
	position: relative;
	height: 40px;
	line-height: 40px;
	width: 90px;
}
#nav ul  a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0px;
	text-align: center;
}
#nav ul  a:hover{
	color:#fff;
	background:#6b0c36;
}

#nav ul  ul{
	background:#fff; 
	background:rgba(255,255,255,0);
	list-style:none;
	position:absolute;
	left:-9999px; 
	margin-left:0px;
	padding-left:0px;
}
#nav ul  ul li{
	padding-top:1px;
	float:none;
}
#nav ul  ul a{
	white-space: nowrap;
	width: 160px;
}
#nav ul  li:hover ul{
	left:0; 
}
#nav ul  li:hover a{ 
	background:#009dd4;
	background:#F15D22;
}
#nav ul  li:hover ul a{ 
	text-decoration:none;
}
#nav ul  li:hover ul li a:hover{
	background:#333;
}
.clear{
	width:100%;
	height:60px;
	clear:both;
	border-top: 1px dashed #999;
	background:#f9f9f9;
	text-align:center;
	color:#F15D22;
}
.box {
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow:hidden;
}
#content{
	float: left;
	width: 610px;
	line-height: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 40px;
}

#content a{
	text-decoration:none;
	color:#009dd4;
}
#content a:hover{
	border-bottom:1px dashed #009dd4;
}
#leftpart{
	float: left;
	width: 200px;
	padding: 10px;
}
#leftpart .sidebar{
	float:left;
	width: 198px;
	border:1px solid #aaa;
	margin:10px 0px;
}
#leftpart .sidebar h2{
	margin-left:10px;
	color:#333;
}
#leftpart .sidebar p{
	margin-left:10px;
}
#leftpart .sidebar .imgdiv{
	margin:15px auto;
	width:120px;
}
#leftpart .sidebar img{
	width:120px;
}

.timetable .title{
	height: 40px;
	line-height: 40px;
	background:#009fdd;
	color:#fff;
	font-weight:bold;
	text-align:center;
}
.timetable .break{
	background:#bad6e9;
	text-align:center;
}
.timetable .time{
	background:#c5e66c;
}
.timetable .room{
	background:#e5e5e5;
}
.timetable td{
	padding: 3px 0px 3px 20px;
	
}
.timetable p{
	margin:0px;
}
.program{
	width:610px;
}
.program .pt{
	font-weight:bold;
	margin:0px 0px 0px 20px;
}
.program .pa{
	margin:0px 0px 10px 20px;
}
.program .st{
	margin:20px 0px 5px 0px;
	font-size:16px;
	font-weight:bold;
	background:#bad6e9;
}
